.page {}

.page .header {
  width: 100%;
  height: 40vh;
}

.page footer {
  background-color: #FFEBD3;
  padding: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.page footer p {
  color: #192D46;
  text-align: center;
}





















@media (min-width:320px) {
  .page footer p {
    line-height: 25px;
  }

}

@media (min-width:320px) {
  .page footer p {
    line-height: 20px;
  }

}

/* @media (min-width:320px) {}

@media (min-width:320px) {}

@media (min-width:320px) {} */